.boxesColorContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  flex-wrap: wrap;
}

.form {
  justify-content: center;
  text-align: center;
}

.input {
  margin-right: 10px;
}